/* Стили для обнуления ------------------------- */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

address {
  font-style: inherit;
}
/* ---------------------------------------------------------------------------------------------------------------------------------- */

/* -------------------------Common styles--------------------------- */
:root {
  --main-white-color: #ffffff;
  --main-black-color: #000000;
  --main-text-color: #8f95a5;
  --accent-color: #263238;
  --logo-color: #939393;
  --price-bg-color: #eeeeee;
  --price-text-color: #546269;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 1.5;

  background-color: var(--main-white-color);
  color: var(--main-text-color);
}

.section {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding: 90px 0;
  /* background-color: coral; */
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  width: 1378px;
  margin: 0 auto;
  /* background-color: darkorchid; */
}
/* --------------------------header------------------------- */
/* Код писать здесь */
/* --------------------------header------------------------- */

/* -------------------------------------------------------main------------------------------------------------------------------ */
/* --------------------------hero------------------------- */
/* Код писать здесь */
/* --------------------------hero------------------------- */

/* --------------------------skills------------------------- */
/* Код писать здесь */
/* --------------------------skills------------------------- */

/* --------------------------about us------------------------- */
/* Код писать здесь */
/* --------------------------about us------------------------- */

/* --------------------------pricing------------------------- */
/* Код писать здесь */
.section-title {
  text-align: center;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.5;

  color: var(--main-black-color);
}
.pricing-list {
  display: flex;
}

.pricing-list > .pricing-item {
  margin-right: 30px;
  flex-basis: calc((100% - 60px) / 3);
}

.pricing-item:nth-child(3n+3) {
  margin-right: 0;
}

.pricing-content-box {
  margin-top: 31px;
}

.pricing-content-box > p {
  height: 90px;
}

.pricing-title {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 30px;
  line-height: 1.6;
  text-transform: capitalize;

  color: var(--accent-color);
}
.content{
  display: flex;
  border-radius: 5px;
  margin-top: 30px;
}

.pricing-content {
  background: var(--price-bg-color);
  width: 260px;
  height: 45px;
}
.pricing-price {
  display: inline-block;
  width: 79px;
  height: 36px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  

  color: var(--accent-color);
  margin-left: 29px;
  margin-right: 21px;
  transition-property: transform;
}
.pricing-price:hover {
  transform: scale(1.5);
  font-weight: 600;
  background-color: rgb(40, 227, 252);
}
.pricing-price:nth-child(1) {
  transition-duration: 500ms;
}

/* --------------------------pricing------------------------- */

/* --------------------------contact us------------------------- */
/* Код писать здесь */
/* --------------------------contact us------------------------- */
/* -------------------------------------------------------main------------------------------------------------------------------ */

/* ---------------------------------------------footer----------------------------------------------------- */
/* Код писать здесь */
/* ---------------------------------------------footer----------------------------------------------------- */
