/* Стили для обнуления ------------------------- */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

address {
  font-style: inherit;
}
/* ---------------------------------------------------------------------------------------------------------------------------------- */

/* -------------------------Common styles--------------------------- */
:root {
  --main-text-color: #8f95a5;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 1.8;
  color: var(--main-text-color);
}

/* --------------------------header------------------------- */
/* Код писать здесь */
/* --------------------------header------------------------- */

/* -------------------------------------------------------main------------------------------------------------------------------ */
/* --------------------------hero------------------------- */
/* Код писать здесь */
/* --------------------------hero------------------------- */

/* --------------------------skills------------------------- */
/* Код писать здесь */
/* --------------------------skills------------------------- */

/* --------------------------about us------------------------- */
/* Код писать здесь */
/* --------------------------about us------------------------- */

/* --------------------------pricing------------------------- */
/* Код писать здесь */
/* --------------------------pricing------------------------- */

/* --------------------------contact us------------------------- */
/* Код писать здесь */
/* --------------------------contact us------------------------- */
/* -------------------------------------------------------main------------------------------------------------------------------ */

/* ---------------------------------------------footer----------------------------------------------------- */
/* Код писать здесь */
/* ---------------------------------------------footer----------------------------------------------------- */
