/* Стили для обнуления ------------------------- */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

address {
  font-style: inherit;
}
/* ---------------------------------------------------------------------------------------------------------------------------------- */

/* -------------------------Common styles--------------------------- */
:root {
  --main-white-color: #ffffff;
  --main-black-color: #000000;
  --main-text-color: #8f95a5;
  --accent-color: #263238;
  --logo-color: #939393;
  --price-bg-color: #eeeeee;
  --price-text-color: #546269;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 1.5;

  background-color: var(--main-white-color);
  color: var(--main-text-color);
}

.section {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding: 90px 0;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  width: 1378px;
  margin: 0 auto;
}

.section-title {
  text-align: center;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.5;

  color: var(--main-black-color);
}
/* --------------------------header------------------------- */
/* Код писать здесь */
/* --------------------------header------------------------- */

/* -------------------------------------------------------main------------------------------------------------------------------ */
/* --------------------------hero------------------------- */
/* Код писать здесь */
/* --------------------------hero------------------------- */

/* --------------------------skills------------------------- */
/* Код писать здесь */
/* --------------------------skills------------------------- */

/* --------------------------about us------------------------- */
/* Код писать здесь */
/* --------------------------about us------------------------- */

/* --------------------------pricing------------------------- */
.pricing-list {
  display: flex;
}

.pricing-item {
  margin-right: 30px;
  flex-basis: calc((100% - 60px) / 3);
}

.pricing-item:nth-child(3n + 3) {
  margin-right: 0;
}

.pricing-content-box {
  margin-top: 31px;
}

.pricing-content-box > p {
  height: 90px;
}

.pricing-title {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 30px;
  line-height: 1.6;
  text-transform: capitalize;
  color: var(--accent-color);
}

.content {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 260px;
  height: 45px;
  padding: 5px 23px 4px 29px;
  margin-top: 30px;

  border-radius: 5px;
  background-color: var(--price-bg-color);
  transition: transform 800ms cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: bottom left;
}

.pricing-price {
  font-size: 24px;
  color: var(--accent-color);
  transition: color 800ms cubic-bezier(0.4, 0, 0.2, 1);
}

.content:hover .pricing-price {
  font-weight: 600;
  color: blue;
}

.content:hover {
  transform: scale(1.5);
}
/* --------------------------pricing------------------------- */

/* --------------------------contact us------------------------- */
/* Код писать здесь */
/* --------------------------contact us------------------------- */
/* -------------------------------------------------------main------------------------------------------------------------------ */

/* ---------------------------------------------footer----------------------------------------------------- */
.footer-content {
  display: flex;
  align-items: baseline;
  border-top: solid 1px #C4C4C4;
  padding-top: 22px;
}

.logo {
  display: flex;

  text-decoration: none;
  font-weight: 400;
  font-size: 36px;
  line-height: 54px;
  margin-right: 463px;

  align-items: center;

  color: #000000;
}
.logo-color{
  color: #939393;
}

.items-footer {
  display: flex;
  
}

.item {
  display: flex;

  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  align-items: center;
  letter-spacing: 0.02em;

  color: #8f95a5;
}
.item:not(:last-child){
  margin-right: 80px;
}
/* ---------------------------------------------footer----------------------------------------------------- */
